html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  background: #F2F2F2;
}

img{
  vertical-align: middle;
}