.bitmap {

    &__section {
        margin-bottom: 168px;
    }

    &__container {
        display: flex;
        background-color: #2C343E;
        padding: 88px 85px;
        border-radius: 10px;
    }

    &__left {
        width: 540px;
    }

    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
    }

    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
        padding: 0;
    }

    &__right {
        margin-left: 125px;
        margin-top: -176px;
    }

    &__img {
        border-radius: 10px;
    }
}

