.hero {

    &__section {
        margin-bottom: 136px;
    }

    &__container {
        height: 600px;
        background-image: url("./../image/header-bgi.jpg");
        background-repeat: no-repeat;
        padding: 177px 702px 0 85px;
        border-radius: 10px;
    }

    &__right {
        width: 493px;
    }

    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    &__text {
        width: 445px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
        padding: 0;
        margin-bottom: 55px;
    }

    &__link-wrapper {
        display: block;
    }

    &__link {
    }
}